<html> 
    <head>
        <title>High Blood Pressure Predictor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datastyle.css') }}" />
    </head>
    <body>
    <h1 title="HBP">High Blood Pressure Predictor</h1>
        
        <nav>
            <ul>
                <li><a href="/home" class="active">Home</a></li>
                <li><a href="/aboutpage">About</a></li>
                <li><a href="/sourcepage">Source</a></li>
            </ul>
        </nav>
        
        <div>
            <h2><u>Rationale Behind High Blood Pressure Data</u></h2>
            <p>Creating a website for predicting high blood pressure could have significant benefits for individuals and public health. High blood pressure is a prevalent condition that can lead to serious health consequences, including heart disease, stroke, and kidney failure. By providing a convenient and accessible resource for individuals to check their blood pressure and understand their risk factors, the website could increase awareness and encourage early intervention. Patients who may potentially be linked with high-blood pressure can determine what individuals that have raised systolic or diastolic blood pressure typically look like in terms of demographics. They can also determine if their particular demographic puts them at higher risk for having increased blood pressure and the prevalence of raised blood pressure for their demographic.</p> 
            <p>Moreover, the website could provide valuable data for public health officials to track trends in blood pressure and identify areas where interventions are needed. Overall, a website for predicting high blood pressure could play a crucial role in identifying risk factors and managing this prevalent and potentially life-threatening condition.</p>
        </div>
        
        <div>
            <h2><u>Fun facts about High Blood Pressure</u></h2>
            <ul>
                <li>High blood pressure affects 1 in 3 adults in the U.S. although many people don't even know they have it.</li>
                <li>In fact, about 1 in 4 men and 1 in 5 women between the ages of 35 and 44 has high blood pressure. Since high blood pressure often has no symptoms, you should get your blood pressure checked at least once a year even if you feel fine.</li>
                <li>Women have unique risks related to high blood pressure. Some types of birth control can raise the risk for high blood pressure. Women who develop preeclampsia during pregnancy have a higher risk of developing high blood pressure later in life. Additionally, women with high blood pressure who become pregnant may be at an increased risk for complications during pregnancy.</li>
                <li>Your blood pressure can be affected by what you eat. Sodium in your diet can raise your blood pressure, so reduce your intake of salt to help control blood pressure. Potassium helps relax arterial walls, which can help lower your blood pressure.</li>
                <li>A healthy blood pressure reading is 120/80. If your numbers are higher, you should discuss it with your primary care physician.</li>
            </ul>
        </div>
        <div class="picture">
            <img class="img-BP" src= "{{ url_for('static', filename='bp.png') }}" alt="Blood Pressure Ranges"/>
            <p><a href="https://www.healthline.com/health/high-blood-pressure-hypertension">Image source</a></p>
        </div>
        
        <div>
            <h2><u>Data Source</u></h2>
            <ul>
                <li>Main/Metadata: <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(16)31919-5/fulltext#seccestitle130">The Lancet</a></li>
                <li>Data retrieved from <a href="https://ncdrisc.org/data-downloads-blood-pressure.html">Crude Data</a> on 17 January 2023.</li>
                <li>No known limitations on data usage</li>
            </ul>
        </div>
        <footer>
            <nav> 
                <a href="/home">Home</a>
                <a href="/aboutpage">About</a>
                <a href="/sourcepage">Source</a>
            </nav>
            <small>&copy; High Blood Pressure Predictor</small>
        </footer>
    </body>
</html>